{
  "extends": ["@cs-magic/eslint-config/typescript", "@cs-magic/eslint-config/prettier"],
  "parserOptions": {
    "project": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": ["packages/*/tsconfig.json"]
      }
    }
  },
  "overrides": [
    {
      "files": ["packages/*/*.config.ts", "packages/*/.*.config.js"],
      "parserOptions": {
        "project": ["tsconfig.build.json"]
      }
    }
  ],
  "rules": {
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off"
  }
}
