{
  "root": true,
  "extends": [
    "@cs-magic/eslint-config/typescript",
    "@cs-magic/eslint-config/prettier",
    "@cs-magic/eslint-config/react",
  ],
  "parserOptions":  {
    "projectService": true,
    "project": [
      "tsconfig.base.json",
      "packages/*/tsconfig.json"
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": ["tsconfig.base.json", "packages/__base__/tsconfig.json", "packages/*/tsconfig.json"]
      }
    }
  },
  "overrides": [
    {
      "files": ["packages/webview-ui/**"],
      "globals": {
        "acquireVsCodeApi": "readonly"
      }
    }
  ],
  "ignorePatterns": ["*.config.*"],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "JSX": true
  },
  "rules": {
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "warn",

    // "@typescript-eslint/no-empty-object-type": "warn",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "no-extra-semi": "off",  // 让 Prettier 接管分号相关的规则

    "@typescript-eslint/no-floating-promises": "off"

  },

}