{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "project": [
      // 千万不要换成 tsconfig.json，不然会溢出
      "tsconfig.base.json",
      // 这个要加上，否则很多文件 cover 不到，eslint 会报错
      "packages/*/tsconfig.json",
    ],
  },
  "env": {
    "browser": true,
    "node": true,
    "es2022": true,
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": ["packages/*/tsconfig.json"],
      },
    },
  },
  "overrides": [
    {
      "files": ["**/*.config.*"],
      "parserOptions": {
        "project": ["./tsconfig.build.json"],
      },
    },
  ],
  "rules": {
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-empty-object-type": "warn",
  },
}
