[submodule "generator-vscode-modern"]
	path = generator-vscode-modern
	url = ./generator-vscode-modern
[submodule "vscode-extension-template"]
	path = vscode-extension-template
	url = ./vscode-extension-template
[submodule "third-parties/typedi"]
	path = third-parties/typedi
	url = git@github.com:typestack/typedi.git
