## 产品

- 这是一个 ai 自动 commit 插件项目
- 主要支持 vscode 插件，同时支持命令行使用
- 允许第三方厂商自己实现 ai commit 的算法，并提交到插件中
- 未来计划支持数据分析功能（配套数据库与前端）

## 技术栈
- 包管理器是 **pnpm**
- 环境是 **monorepo**

## extesnion(server) 和 webview(client) 通信接口

- event 定义： @packages/shared/src/common/transport.ts
- server listen: @packages/extension/src/commands/quick-commit.ts
- server send: @packages/extension/src/vscode-webview.ts:postMessage
- client listen: @packages/webview/src/hooks/use-commit-message.ts
- client send: @packages/webview/src/clientPush.ts