html,
body,
#root {
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
}

* {
  box-sizing: border-box;
}

vscode-text-area {
  width: 100%;
  min-height: 200px;
  flex: 1;
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  border-radius: var(--vscode-panel-border-radius);
}

vscode-text-area::part(control) {
  height: 100%;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
}

vscode-button {
  min-width: 80px;
}
