/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./markdown.css";

/* Root styles */
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root,
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Global styles */
body {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}

/* VSCode-style scrollbar */
.vscode-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--vscode-scrollbarSlider-background) transparent;
}

.vscode-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.vscode-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.vscode-scrollbar::-webkit-scrollbar-thumb {
  background: var(--vscode-scrollbarSlider-background);
  border-radius: 4px;
}

.vscode-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--vscode-scrollbarSlider-hoverBackground);
}

.vscode-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--vscode-scrollbarSlider-activeBackground);
}
