name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  setup:
    uses: ./.github/workflows/setup.yml

  release:
    needs: setup
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.10.0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Build and Package Extension
        run: pnpm vscode:package

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*.vsix
          generate_release_notes: true

      - name: Publish to Visual Studio Marketplace
        run: pnpm vscode:publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: Publish to Open VSX Registry
        run: pnpm ovsx:publish
        env:
          OVSX_TOKEN: ${{ secrets.OVSX_TOKEN }}
